.content-home {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    object-fit: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/img2.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.cont-grdnt {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background: linear-gradient(0deg, rgba(14, 14, 14, 1) 0%, rgba(14, 14, 14, 0.7259278711484594) 5%, rgba(14, 14, 14, 0) 100%);
}

.cont-title-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    gap: 1rem;
    width: 49%;

}

.content-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    min-height: 300px;
    border: var(--cont-border-clr);
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}

.btns-social-link-container {
    gap: 4px;
}

.btns-apple-android {
    width: 180px;
    margin: 2px;
    border: 1px solid;
    border-radius: 7px;
    box-shadow: var(--box-shadow);
}


.btns-andios-blck {
    background-color: rgb(0, 0, 0);
    border-color: rgb(255, 255, 255);
}

.btns-andios-wht {
    background-color: white;
    border-color: rgb(0, 0, 0);

}

.logo-img {
    height: auto;
    width: 90%;
}

.content-title p {
    font-size: 1em;
    font-weight: 400;
    color: var(--text-p-clr);
    margin-top: 10px;
    padding: 0 40px;
}

p span {
    text-shadow: var(--text-p-span-clr);
    color: var(--text-p-clr);

}

.content-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}


.glass-effect {
    background: var(--bg-glass);
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
}

@media only screen and (max-width: 840px) {

    .cont-title-one {
        width: 80%;
    }

    .content-title {
        width: 95%;
        min-height: 260px;
    }
}

@media only screen and (max-width: 780px) {
    .content-home {
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
    }

    .cont-title-one {
        width: 90%;
    }

    .logo-img {
        width: 95%;
    }

    .content-title {
        width: 95%;
        min-height: 235px;
    }

    .content-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btns-apple-android {
        width: 140px;
        margin: 5px;
    }

}

@media only screen and (min-width: 900px) {
    .content-home {
        background-attachment: fixed;
    }
}