.cont-3 {
    background: var(--ch-bg-clr);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 10px 30px 10px;
}

.cont-3 h2 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: var(--ch-ttl-size);
    color: var(--ch-ttl-clr);
    font-weight: 500;
    text-align: center;
}

.cont-3 p {
    font-size: var(--info-size-p);
    color: var(--ch-clr-p);
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    padding: 9px;
    padding-left: 5%;
    padding-right: 5%;
}


.cont-3 .card {
    position: relative;
    width: 190px;
    height: 270px;
    margin: 6px;
    overflow: hidden;
    box-sizing: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    box-shadow: 0 60px 60px -60px rgb(117, 46, 120);

}

.cont-3 .card .imgBx img {
    width: 190px;
    height: 270px;
    object-fit: cover;
}

.cont-3 .card .contentcard {
    position: absolute;
    bottom: -145px;
    /* bottom: 0px; */
    width: 100%;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(111, 111, 111, 0.2);
    transition: bottom 0.5s;
    background-color: #2222227c;
}

.cont-3 .card:hover .contentcard {
    bottom: 0;
    -webkit-backdrop-filter: blur(0.4rem);

}

.cont-3 .card .contentcard .contentBx h3 {
    color: var(--ch-tl-clr-card);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: var(--ch-tl-size-card);
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(-20px);
    padding-bottom: 5px;
}

.cont-3 .card:hover .contentcard .contentBx h3 {
    opacity: 1;
    transform: translateY(0px);
}

.cont-3 .card .contentcard .sci {
    position: relative;
    bottom: 10px;
    display: flex;
}

.cont-3 .card .contentcard .sci li {
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
}

.cont-3 .card:hover .contentcard .sci li {
    transform: translateY(0px);
    opacity: 1;
}

.social-svg {
    height: 55px;
    width: 55px;
}

@media screen and (max-width: 840px) {
    .cont-3 h2 {
        padding-top: 30px;
        padding-bottom: 0px;
        font-size: var(--ch-size-two);
    }

    .cont-3 p {
        font-size: var(--ch-size-p-two);
    }
}

@media screen and (max-width: 850px) {
    .cont-3 .card {
        width: 170px;
        height: 260px;
        margin: 5px;
        border-radius: 15px;
    }

    .cont-3 .card .imgBx img {
        width: 170px;
        height: 260px;
    }

    .cont-3 .card .contentcard {
        bottom: -110px;
        height: 110px;
    }

    .social-svg {
        height: 40px;
        width: 40px;
    }
}

@media screen and (max-width: 600px) {
    .cont-3 .card {
        width: 170px;
        height: 260px;
        margin: 5px;
        border-radius: 15px;
    }

    .cont-3 .card .imgBx img {
        width: 170px;
        height: 260px;
    }

    .cont-3 .card .contentcard {
        bottom: -100px;
        height: 100px;
    }

    .social-svg {
        height: 34px;
        width: 34px;
    }
}

@media screen and (max-width: 450px) {
    .cont-3 .card {
        width: 108px;
        height: 165px;
        margin: 5px;
        border-radius: 10px;
    }

    .cont-3 .card .imgBx img {
        width: 108px;
        height: 165px;
    }

    .cont-3 .card .contentcard {
        bottom: -90px;
        height: 90px;
    }

    .cont-3 .card .contentcard .contentBx h3 {
        font-size: var(--ch-tl-size-card-two);
    }

    .social-svg {
        height: 31px;
        width: 31px;
    }
}

@media screen and (max-width: 390px) {
    .cont-3 .card {
        width: 100px;
        height: 155px;
        border-radius: 8px;
    }

    .cont-3 .card .imgBx img {
        width: 100px;
        height: 155px;
    }

    .cont-3 .card .contentcard {
        bottom: -85px;
        height: 85px;
    }

    .cont-3 .card .contentcard .contentBx h3 {
        font-size: var(--ch-tl-size-card-tree);
    }
}

@media screen and (min-width: 840px) {
    .cont-3 p {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media screen and (min-width: 1000px) {

    .cont-3 p {
        padding-left: 25%;
        padding-right: 25%;
    }

    /* .cont-3 .card {
        width: 220px;
        height: 320px;
        margin: 12px;
    }

    .cont-3 .card .imgBx img {
        width: 220px;
        height: 320px;
        object-fit: cover;
    } */

    /* .cont-3 .card .contentcard .contentBx h3 {
        font-size: var(--ch-tl-size-card);
    } */

    /* 
    .social-svg {
        height: 55px;
        width: 55px;
    } */
}