* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.ContTextTitle {
    width: 100%;
}

h1 {
    color: #fff;
    font-size: 1.6em;
    font-weight: 500;
    text-align: center;
}

h1 span {
    text-shadow: rgb(145, 58, 148) 0px 0px 5px, rgb(201, 80, 205) 0px 0px 10px, rgb(140, 73, 143) 0px 0px 15px, rgb(105, 33, 107) 0px 0px 25px;
}

.princilPort {
    background: #0d0d0d;
    min-height: 100vh;
    /* min-height: 670px; */
    /* min-height: 40em; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;

    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../img/img2.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    gap: 1rem;
    width: 49%;

}

.content-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    min-height: 40vh;
    min-height: 300px;
    border: 2px solid #fafafa10;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 1px rgb(91, 36, 93, 0.5);
}

.btns-social-link-container {
    gap: 4px;

}

.btns-apple-android {
    width: 180px;
    /* height: 20px; */
    margin: 2px;
    /* padding-left: 1%; */
    /* padding-right: 1%; */
}


.logoImg {
    height: auto;
    width: 90%;
}

.content-title p {
    font-size: 1em;
    font-weight: 400;
    color: #ffffff;
    margin-top: 30px;
    padding: 0 40px;
}

p span {
    text-shadow: rgb(145, 58, 148, 0.7) 0px 0px 5px, rgb(201, 80, 205, 0.7) 0px 0px 10px;
    color: rgb(255, 255, 255);

}

.content-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}



a {
    color: #000;
}



.glass-effect {
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
}

.hImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}




@media only screen and (max-width: 780px) {


    .princilPort {
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
    }

    .contTitle {
        /* margin-top: 60px; */
        width: 100%;
    }

    .logoImg {
        width: 90%;
    }

    .content-title {
        width: 85%;
        /* min-height: 35vh; */
        min-height: 200px;
    }

    .titleImg {
        height: 360px;
        width: auto;
        margin-top: 50px;
    }

    .hImg {
        opacity: 1;
    }

    .content-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btns-apple-android {
        width: 140px;
        /* height: 20px; */
        margin: 5px;
        /* padding-left: 1%; */
        /* padding-right: 1%; */
    }


}