* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.ContTextTitle {
    width: 100%;
}

h1 {
    color: #fff;
    font-size: 1.6em;
    font-weight: 500;
    text-align: center;
}

h1 span {
    text-shadow: rgb(145, 58, 148) 0px 0px 5px, rgb(201, 80, 205) 0px 0px 10px, rgb(140, 73, 143) 0px 0px 15px, rgb(105, 33, 107) 0px 0px 25px;
}

.princilPort {
    background: #0d0d0d;
    min-height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;

    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../img/img2.webp);
    background-size: cover;
    background-position: center;
}

.contTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    gap: 1rem;
    width: 49%;
}

.content-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 90%;
    min-height: 40vh;
    border: 2px solid #fafafa10;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 1px rgb(91, 36, 93, 0.5);
}

p span {
    text-shadow: rgb(145, 58, 148, 0.7) 0px 0px 5px, rgb(201, 80, 205, 0.7) 0px 0px 10px;
    color: rgb(255, 255, 255);

}

.logoImg {
    height: auto;
    width: 90%;
}

.content-title h1 {
    font-weight: 500;
    font-size: 2.4em;
    color: #fff;
}

.content-title p {
    font-size: 0.9em;
    font-weight: 400;
    color: #e3e3e3;
    margin-top: 30px;
    padding: 0 40px;
}

.content-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-app {
    width: 230px;
    height: 50px;
    border: none;
    color: #000;
    border-radius: 20px;
    font-size: 1.3em;
    cursor: pointer;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 5px 10px 1px rgb(79, 32, 80, 0.7)
}

a {
    color: #000;
}

.btn-app img {
    padding: 0 7px;
    width: 50px;
}

.glass-effect {
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
}

.hImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* width: 49%; */
}



.titleImg {
    height: 500px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    /* aspect-ratio: 714/151; */

}

/* _________________________ */
/* @media only screen and (min-width: 850px) {
    .tittleImg {
        margin: 10px;
    }
} */


@media only screen and (max-width: 780px) {
    .contTitle {
        margin-top: 60px;
        width: 80%;
    }

    .princilPort {
        padding-top: 55px;
        /* height: 65vh; */
        height: auto;
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        padding-bottom: 20px;
    }

    .logoImg {
        width: 90%;
    }

    .content-title {
        width: 85%;
        height: 30vh;
    }

    .titleImg {
        height: 360px;
        width: auto;
        margin-top: 50px;
    }

    .hImg {
        opacity: 1;
    }

    .btn-app {
        width: 220px;
        height: 55px;
        font-size: 1.05em;
    }

    .btn-app img {
        padding: 0 7px;
        width: 45px;
    }
}

@media only screen and (max-width: 550px) {
    .titleImg {
        height: 340px;
        width: auto;
    }
}

@media only screen and (max-width: 320px) {
    .titleImg {
        height: 300px;
        width: auto;
    }
}