.sectHeartCont {
    background: #0d0d0d;
    /* height: 50vh; */
    /* width: 100%; */
    display: flex;
    /* min-height: 95vh; */


}

.info-cont {
    background: #0d0d0d;
    min-height: 45vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.heartCont {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/collage3.webp);
}

.MoreCont {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/collage5.webp);
}

.sectHeart {
    background: #0d0d0d;
    width: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
    border: 2px solid #fafafa10;
    border-radius: 10px;
    /* box-shadow: 10px 100px 100px solid #000; */
}

.sectHeart h2 {
    font-size: 2.0rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

.sectHeart p {
    font-size: 0.9rem;
    color: #d6d6d6;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    padding: 12px;
}

/* ____________________________________ */

@media screen and (max-width: 900px) {
    .sectHeartCont {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 900px) {
    .sectHeartCont {
        display: flex;
        flex-wrap: wrap;
    }

    .info-cont {
        min-height: 60vh;
        width: 50%;
    }

    .heartCont {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../img/collage4.webp);
    }

    .MoreCont {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../img/collage6.webp);
    }

    .sectHeart {
        background: #111;
        /* width: 70%; */
        min-height: 40vh;
    }

    .sectHeart p {
        font-size: 0.92rem;
        padding-left: 10%;
        padding-right: 10%;
    }
}