.title-cont-sec {
    background: #0d0d0d;
    /* min-height: 50vh; */
    min-height: 220px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../img/collage.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;


}

.sec-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 20px 20px 20px;
    border: 2px solid #fafafa10;
    border-radius: 15px;

    background: #0d0d0dd1;
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(0.4rem);

}

.sec-title h1 {
    font-size: 2.0rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
    /* margin: 0 20px; */
}

.sec-title p {
    font-size: 0.9rem;
    color: #d6d6d6;
    font-weight: 400;
    /* margin-bottom: 20px; */
    text-align: center;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

@media screen and (min-width: 840px) {

    .sec-title {
        width: 79%;
    }

}

@media only screen and (min-width: 950px) {
    .title-cont-sec {
        min-height: 400px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../img/collage2.webp);

    }

}