.title-cont-sec {
    background: #0d0d0d;
    /* min-height: 50vh; */
    min-height: 400px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../img/collage.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.sec-title {
    background: #0d0d0d;
    width: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
    border: 2px solid #fafafa10;
    border-radius: 10px;
    /* box-shadow: 10px 100px 100px #000; */

}

.sec-title h1 {
    font-size: 2.0rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

.sec-title p {
    font-size: 0.9rem;
    color: #d6d6d6;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    padding: 12px;
    padding-left: 10%;
    padding-right: 10%;
}

@media only screen and (min-width: 950px) {
    .title-cont-sec {
        height: 60vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../img/collage2.webp);

    }

}

@media screen and (min-width: 900px) {

    .info-cont {
        min-height: 60vh;
        width: 50%;
    }

    .sec-title {
        width: 60%;
    }

}